<section *ngIf="eventEntryException$ | async as exception">
  <section class="exception">
    <div class="header-wrapper">
      <div class="text-wrapper">
        <h3>Exception</h3>
        <p *ngIf="group.value === 'full-data'" class="spacer">
          (<a mat-button (click)="getFlippedFrames()"
            >most recent call <span *ngIf="isReversed$ | async">first</span
            ><span *ngIf="(isReversed$ | async) === false">last</span></a
          >)
        </p>
      </div>
      <mat-button-toggle-group #group="matButtonToggleGroup">
        <mat-button-toggle
          [checked]="true"
          value="full-data"
          aria-label="full data"
        >
          Full
        </mat-button-toggle>
        <mat-button-toggle value="raw" aria-label="raw data">
          Raw
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="full" *ngIf="group.value === 'full-data' && exception.values">
      <div *ngFor="let value of exception.values">
        <h2>{{ value.type }}</h2>
        <p class="subtitle">{{ value.value }}</p>
        <mat-chip-list *ngIf="value.mechanism">
          <mat-chip disabled>mechanism: {{ value.mechanism.type }}</mat-chip>
          <mat-chip color="accent" selected disabled
            >handled: {{ value.mechanism.handled ? "yes" : "no" }}</mat-chip
          >
          <mat-chip *ngIf="value.mechanism.data" disabled
            >function: {{ value.mechanism.data.function }}</mat-chip
          >
        </mat-chip-list>
        <mat-accordion
          *ngIf="checkStacktraceInterface(value.stacktrace)"
          [multi]="true"
          displayMode="flat"
        >
          <!-- TODO:  Add additional conditions for non expandable frames
          https://gitlab.com/glitchtip/sentry-open-source/sentry/-/blob/master/src/sentry/static/sentry/app/components/events/interfaces/frame.jsx#L107-->
          <mat-expansion-panel
            *ngFor="let frame of value.stacktrace.frames; let i = index"
            [disabled]="
              (!frame.context || !frame.context.length) && !frame.vars
            "
            [expanded]="frame.context.length ? i === 0 : undefined"
            class="mat-elevation-z0"
          >
            <mat-expansion-panel-header
              collapsedHeight="auto"
              expandedHeight="auto"
              [class.disabled-panel]="!frame.context.length && !frame.vars"
              [class.highlighted]="frame.inApp"
            >
              <gt-frame-title
                [frame]="frame"
                [eventPlatform]="eventPlatform"
              ></gt-frame-title>
            </mat-expansion-panel-header>
            <gt-frame-expanded
              [lineNo]="frame.lineNo"
              [context]="frame.context"
              [vars]="frame.vars"
              [eventPlatform]="eventPlatform"
            ></gt-frame-expanded>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
    <div *ngIf="group.value === 'raw' && exception.values">
      <gt-raw-stacktrace [eventPlatform]="eventPlatform"></gt-raw-stacktrace>
    </div>
  </section>
</section>
